<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Welcome to OdobGames, an indie game development company that is just starting out and has three games to offer. We are passionate about creating games that are fun, engaging and challenging for players of all ages and backgrounds. Our games are:
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          We hope you enjoy our games and support our indie company. We are always working hard to improve our games and create new ones for your entertainment. Thank you for choosing OdobGames!
        </p>
      </div>
    </div>
  </div>
</section>
